* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 50px;
    overflow: hidden;
}

#app-wrapper {
    width: 100vw;
    height: 100vh;
}

#ocean {
    position: absolute;
    top: 60vh;
    width: 100vw;
    height: 100vh;
    background-color: rgb(80, 80, 255);
}

#text-box {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(1rem, 2vw, 2rem);
    padding-left: 30px;
    padding-top: 10px;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    filter: opacity(0.7);
    border-radius: 50px;
    height: 20vh;
    width: 70vw;
    background-color: white;
}

#choices {
    text-align: center;
    display: grid;
    justify-content: center;
    gap: 10vh;
    position: absolute;
    height: 70vh;
    width: 100vw;
    padding: 30px;
}

#choices button {
    background-color:rgb(132, 132, 255);
    color: white;
    border-radius: 10px;
    font-size: 30px;
    width: 60vw;
}

#boat {
    position: absolute;
    image-rendering: pixelated;
    left: 50vw;
    transform: translateX(-50%);
    height: 500px;
    transition: bottom 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), left 5s linear;
}

@media (max-width: 728px) {
    #boat {
        top: 30vh;
        height: 200px;
    }
}