* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 50px;
    overflow: hidden;
}

#app-wrapper {
    width: 100vw;
    height: 100vh;
}

#ocean {
    position: absolute;
    top: 60vh;
    width: 100vw;
    height: 100vh;
    background-color: rgb(80, 80, 255);
}

#boat {
    position: absolute;
    image-rendering: pixelated;
    top: 25vh;
    left: 50vw;
    transform: translateX(-50%);
    bottom: 50px;
    height: 500px;
    transition: 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) all;
    
}